<div class="bgTheme" fxFill fxLayoutAlign="center center">
    <mat-card class="example-card">
        <form [formGroup]="registerForm" (ngSubmit)="signUp(registerForm)">
            <mat-card-header>
                <mat-card-title>SignUp</mat-card-title>
            </mat-card-header>
            <div class="card-login">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="firstName" placeholder="First Name">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="email" placeholder="Email">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="password" placeholder="Password">
                    </mat-form-field>
                </mat-card-content>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
                    SignUp
                </button>
                <div>
                        <label style="padding: 1em;text-decoration: underline;cursor: pointer;" (click)="signIn()">Click here to signin</label>
                    </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>