body{
    text-align: center;
}
.example-card{
    width: 300px;
    filter: invert(1);
    opacity: 0.8;
}
.card-login{
    padding:10px;
}
.card-login .example-full-width{
    width: 100%;
}

mat-card-actions{
    text-align: center;
}