.question-container{
    display: flex;
}
.options-container{
    display: table-caption;
}
mat-card{
    position: relative;
    height: 250px;
}
.container{
    max-width: 1200px !important;
    position: relative;
  }