<!-- <ng-container *ngFor="let question of questions;let i=index"> -->
<div class="bgTheme" fxFill fxLayoutAlign="center center">
<div class="container" *ngIf="questions!==undefined">
    <mat-card *ngIf="questions.length>0">
        <table>
        <tr>
            <td>
                <!-- <p>{{selectedQuestionIndex+1}}</p> -->
            </td>
            <td>
                <label>{{questions[selectedQuestionIndex].question}}</label>
            </td>
        </tr>
        <tr><td></td>
            <td>
                <div class="options-container" >
                <mat-radio-group (change)="onSelectAnswer($event,questions[selectedQuestionIndex],selectedQuestionIndex)">
                        <mat-radio-button [value]="questions[selectedQuestionIndex].option1">{{questions[selectedQuestionIndex].option1}}</mat-radio-button>
                        <mat-radio-button [value]="questions[selectedQuestionIndex].option2">{{questions[selectedQuestionIndex].option2}}</mat-radio-button>
                        <mat-radio-button [value]="questions[selectedQuestionIndex].option3">{{questions[selectedQuestionIndex].option3}}</mat-radio-button>
                        <mat-radio-button [value]="questions[selectedQuestionIndex].option4">{{questions[selectedQuestionIndex].option4}}</mat-radio-button>
                      </mat-radio-group>
                      </div>
                      </td>
                     
        </tr>
        <tr><td></td>
            <td></td>
                <td style="display: flex;"><button  mat-raised-button color="primary" (click)="onSelectAnswer({value:''},questions[selectedQuestionIndex],selectedQuestionIndex)">Skip</button>
                    <button  style="margin-left: 5px;" mat-raised-button color="primary" (click)="getReport()">Finish</button>
                </td>
        </tr>
        </table>
        <!-- <div class="icons">
        <i class="material-icons" (click)="onGoPrevious(selectedQuestionIndex)">
                fast_rewind
                </i>
        <i class="material-icons" (click)="onGoNext(selectedQuestionIndex)">
                fast_forward
                </i>
                </div> -->
        </mat-card>
    </div>

        
    <!-- </ng-container> -->
    </div>