<div class="">
    <div class="bgHeader" fxLayout="row">
        <div fxFlex></div>
        <div fxFlex fxLayoutAlign="center center">
            Header Name
        </div>
        <div fxFlex fxLayoutAlign="end center">
<button mat-button (click)="logout()"> Logout </button>
<!-- <button (click)="onStartTestInfo()"> Start </button>  -->
            
        </div>
    </div>
</div>