<div class="bgTheme" fxFill fxLayoutAlign="center center">
  <mat-card class="example-card">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <div class="card-login">
      <mat-card-content>
          <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>
      </mat-card-content>
      <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="password" placeholder="Password">
              </mat-form-field> 
      </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
        <div>
        <label style="padding: 1em;text-decoration: underline;cursor: pointer;" (click)="signup()">Click here to signUp</label>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
