<table>
<ng-container>
    <tr *ngFor="let item of data | keyvalue">
        <td>{{item.key | titlecase}}</td>
        <td>:</td>
        <td>{{item.value}}%</td>
    </tr>
    </ng-container>
    </table>