mat-card:hover{
    background: rgb(193, 193, 193);
    cursor: pointer;
}

.fabPos{
    position: absolute;
    right: 0;
    top: -30px;
}

.playPos{
    position: fixed;
    bottom: 40px;
    right: 30px;
}

.startPos{
    position:fixed;
    bottom: 20px;
    left: 40%;
    right: 40%;
}