<div fxFill class="bgTheme">
    <div>
        <app-header></app-header>
    </div>
<!-- <button (click)="logout()"> Logout </button> -->
<button *ngIf="showSubject" mat-fab color="primary"  class="playPos" (click)="onStartTestInfo()" matTooltip="start" matTooltipPosition="left"> 
    <mat-icon>play_arrow</mat-icon> 
</button>
    <div fxLayout="row" fxLayoutGap="15px" class="p15">
        <div fxFlex="25">
            <ng-container>
                <div class="fs-header tc-white">Exam</div>
                <div *ngFor="let exam of exams;let i = index;" fxLayout="column" class="pt15">
                    <mat-card (click)="onSelectCard('exam',exam)">
                        <div class="fs-header">{{exam.examName}}</div>
                        <div> {{exam.createdAt | date}} </div>
                        <button mat-fab color="primary" class="fabPos" (click)="getExamReport(exam,i)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <!-- <div>
                        <ng-container *ngFor="let item of chartValue | keyvalue">
                           <label> {{item.key | titlecase }} : {{item.value}}% </label>
                        </ng-container>
                    </div> -->
                    </mat-card>
                </div>
            </ng-container>
        </div>

        <div fxFlex="25" *ngIf="showSubject">
            <ng-container *ngIf="subjects.length > 0 && showSubject">
                <div class="fs-header tc-white">Subject</div>
                <div *ngFor="let subject of subjects;let i=index;" fxLayout="column" class="pt15">
                    <mat-card (click)="onSelectCard('subject',subject)">
                        <div class="fs-header">{{subject.subjectName}}</div>
                        <div> {{subject.createdAt | date}} </div>
                        <button mat-fab color="primary" class="fabPos" (click)="getSubjectReport(subject)"><mat-icon>info</mat-icon></button>
                            <!-- <ng-container *ngFor="let item of chartValue | keyvalue">
                                    <label> {{item.key | titlecase }} : {{item.value}}% </label>
                                 </ng-container> -->
                    </mat-card>
                </div>
            </ng-container>
        </div>

        <div fxFlex="25" *ngIf="showtopic">
            <ng-container *ngIf="topics.length > 0 && showSubject">
                <div class="fs-header tc-white">Topics</div>
                <div *ngFor="let topic of topics" fxLayout="column" class="pt15">
                    <mat-card (click)="onSelectCard('topic',topic)">
                        <div class="fs-header">{{topic.topicName}}</div>
                        <div> {{topic.createdAt | date}} </div>
                        <button mat-fab color="primary" class="fabPos" (click)="getTopicReport(topic)"><mat-icon>info</mat-icon></button>
                    </mat-card>
                </div>
            </ng-container>
        </div>

        <div fxFlex="25" *ngIf="showChapter">
            <ng-container *ngIf="chapters.length > 0 && showSubject">
                <div class="fs-header tc-white">Chapters</div>
                <div *ngFor="let chapter of chapters" fxLayout="column" class="pt15">
                    <mat-card (click)="onSelectCard('chapter',chapter)">
                        <div class="fs-header">{{chapter.chapterName}}</div>
                        <div> {{chapter.createdAt | date}} </div>
                        <button mat-fab color="primary" class="fabPos" (click)="getChapterReport(chapter)"><mat-icon>info</mat-icon></button>
                    </mat-card>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="pt15 startPos" *ngIf="showQuestionCatogory || testQuestions.length > 0">
        <div class="card w500 p15">
            <div fxFlex="25">
                <div *ngIf="showQuestionCatogory">
                    <ul *ngFor="let cat of questionCatogory">
                        <li (click)="selectedCatagory(cat.value)">{{cat.name}}</li>
                    </ul>
                </div>
            </div>
    
            <div fxFlex="25" *ngIf="testQuestions.length > 0">
                <!-- <label> You Choose {{selectedCatogoryVal===1 ? "Easy" : selectedCatogoryVal===2 ? "Medium": "Hard"}}
                    Catogory</label>
                <label>You Got {{testQuestions.length}} Questions to Answer</label> -->
                <div fxLayoutAlign="center center">
                    <button mat-raised-button color="primary" (click)='startTest()'>Start</button>
                </div>
            </div>
        </div>
    </div>
</div>