<div fxFill class="bgTheme">
        <div>
                <app-header></app-header>
        </div>

        <div fxLayout="row" class="p15" fxLayoutGap="15px">
                <div fxFlex="25">
                                <div class="fs-header tc-white">Exam</div>
                        <div *ngFor="let exam of exams" class="pt15">
                                <mat-card (click)="onSelectCard('exam',exam)">
                                        <div class="fs-header">{{exam.examName}}</div>
                                        <div> {{exam.createdAt | date}} </div>
                                </mat-card>
                        </div>
                        <div fxLayout="row" class="p15 mt10 card">
                                <div>
                                        <mat-form-field class="w150">
                                                <input matInput placeholder="Add Exam" [(ngModel)]="examName">
                                        </mat-form-field>
                                </div>
                                <div class="pl10 pt15">
                                        <button mat-raised-button color="primary"
                                                (click)="save('exam',examName)">Save</button>
                                </div>
                        </div>
                </div>

                <div fxFlex="25" *ngIf="showSubject">
                        <ng-container *ngIf="subjects.length > 0 && showSubject">
                                        <div class="fs-header tc-white">Subject</div>

                                <div *ngFor="let subject of subjects" class="pt15">
                                        <mat-card (click)="onSelectCard('subject',subject)">
                                                <div class="fs-header">{{subject.subjectName}}</div>
                                                <div> {{subject.createdAt | date}} </div>
                                        </mat-card>
                                </div>
                        </ng-container>
                        <div fxLayout="row" class="p15 mt10 card">
                                <div>
                                        <mat-form-field class="w150">
                                                <input matInput placeholder="Add Subject" [(ngModel)]="subjectName">
                                        </mat-form-field>
                                </div>
                                <div class="pl10 pt15">
                                        <button mat-raised-button color="primary"
                                                (click)='save("subject",subjectName)'>Save</button>
                                </div>
                        </div>
                </div>

                <div fxFlex="25" *ngIf="showtopic">
                        <ng-container *ngIf="topics.length > 0 && showSubject">
                                        <div class="fs-header tc-white">Topic</div>
                                <div *ngFor="let topic of topics" class="pt15">
                                        <mat-card (click)="onSelectCard('topic',topic)">
                                                <div class="fs-header">{{topic.topicName}}</div>
                                                <div> {{topic.createdAt | date}} </div>
                                        </mat-card>
                                </div>
                        </ng-container>
                        <div fxLayout="row" class="p15 mt10 card">
                                <div>
                                        <mat-form-field class="w150">
                                                <input matInput placeholder="Add Topic" [(ngModel)]="topicName">
                                        </mat-form-field>
                                </div>
                                <div class="pl10 pt15">
                                        <button mat-raised-button color="primary"
                                                (click)='save("topic",topicName)'>Save</button>
                                </div>
                        </div>
                </div>

                <div dxFlex="25" *ngIf="showChapter">
                        <ng-container *ngIf="chapters.length > 0 && showtopic">
                                        <div class="fs-header tc-white">Chapter</div>
                                <div *ngFor="let chapter of chapters" class="pt15">
                                        <mat-card (click)="onSelectCard('chapter',chapter)">
                                                <div class="fs-header">{{chapter.chapterName}}</div>
                                                <div> {{chapter.createdAt | date}} </div>
                                        </mat-card>
                                </div>
                        </ng-container>
                        <div fxLayout="row" class="p15 mt10 card">
                                <div>
                                        <mat-form-field class="w150">
                                                <input matInput placeholder="Add Chapter" [(ngModel)]="chapterName">
                                        </mat-form-field>
                                </div>
                                <div class="pl10 pt15">
                                        <button mat-raised-button color="primary"
                                                (click)='save("chapter",chapterName)'>Save</button>
                                </div>
                        </div>
                </div>

        </div>

        <div fxLayout="row" *ngIf="showQuestions">
                <div class="p15 mt10 card">
                        <!-- <mat-card> -->
                                <div>
                                        <input type="file" multiple="false" (change)="onSelectFile($event)">
                                </div>
                                <div class="pl10">
                                        <button mat-raised-button color="primary"
                                                (click)='uploadQuestions()'>Upload</button>
                                </div>
                        <!-- </mat-card> -->
                </div>
        </div>
</div>