/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bgTheme{
    background: url("./assets/bg-login.jpg");
    background-size: cover;
}

.fs-header{
    font-size: 24px;
    font-weight: 500;
}
.tc-white{
    color: #ffffff;
}
.pt15{
    padding-top: 15px;
}

.p15{
    padding: 15px;
}
.pl10{
    padding-left: 15px;
}

.card{
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.mt10{
    margin-top: 10px;
}

.w150{
    width: 150px;
}

.w500{
    width: 500px;
}